:root {
    --primary-color: #0e86ef;
    --accent-color: #ff9800;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* height: 800px; */

    background-color: blue;
}

.item {
    border: 2px solid red;
    padding: 36px;
    width: 25%;
    color: white;
}
